<!DOCTYPE html>
<html>
  <head>
    <title>Marcio</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <div>
        <%= link_to "students", students_path %>
        <%= link_to "subjects", subjects_path %>
    </div>

    <% if user_signed_in? %>
    <li>
    <%= link_to('Profile', edit_profile_path(current_user.profile.id)) %>
    </li>
    <li>
    <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
    </li>
    <% else %>
    <li>
    <%= link_to('Login', new_user_session_path)  %>
    </li>
    <% end %>
    <%= yield %>
  </body>
</html>
